<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown type="IServiceCollection, IServiceCollection"
						   mode="Singleton"
						   objectUri="CeChatRoomService"/>
			</service>
			<channels>
				<channel ref="tcp"
						 port="8989"/>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
