<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown type="IServiceCollection, IServiceCollection"
						   url="tcp://localhost:8989/CeChatRoomService"/>
			</client>
			<channels>
				<channel ref="tcp" port="0"/>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
